<!DOCTYPE html>
<html lang="pt-BR" ng-app="myapp">
    <head>
        <title>Cadastro de usuários</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<meta name="author" content="Samuel Barbosa">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body ng-controller="productController">

<div class="container">
  <header>
    <nav class="navbar navbar-inverse">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">CRUD</a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
           <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
         </button>
       </div>
<div class="collapse navbar-collapse" id="collapse-menu">
       <ul class="nav navbar-nav">
         <li class="active"><a href="usuarios.html">Usuários</a></li>
         <li><a href="produtos.html">Produtos</a></li>
         <li><a href="fornecedores.html">Fornecedores</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
       </ul>
     </div>
   </div>
   </nav>

  </header>


<main>
  <div class="col-md-8 col-xs-12">
    <form class="form-horizontal">
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="nome">Nome</label>
          </div>
          <div class="col-md-10">
            <input
            ng-model="nome"
            id="nome" class="form-control" ng-model="usuario.nome" placeholder="Digite seu nome">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label for="mail">E-mail</label>
          </div>
          <div class="col-md-10">
            <input
            ng-model="email"
            id="mail" class="form-control"  ng-model="usuario.email" placeholder="Digite seu e-mail">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 ">
            <label for="login">Login</label>
          </div>
          <div class="col-md-10">
            <input
            ng-model="login"
            id="login" class="form-control" type="text" name="login" value="" placeholder="Digite seu login">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2 ">
            <label for="senha">Senha</label>
          </div>
          <div class="col-md-10">
            <input
            ng-model="senha"
            id="senha" class="form-control" type="password" name="senha" value="" placeholder="Digite sua senha">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <p></p>
          </div>
          <div class="col-md-10">
            <input
            ng-click="edit()"
            class="btn btn-default" type="submit"
            name="buttonSalvar" value="Salvar">
            <input
            ng-click="add()"
            class="btn btn-default" type="submit"
            name="buttonCadastrar" value="Cadastrar">
          </div>
        </div>
      </div>
    </form>

    <hr>
<button class="btn btn-default" data-toggle="collapse" data-target="#registros">Mostrar registros</button>
<div class="collapse" id="registros">
  <br>
    <form class="form-inline">
      <div class="form-group">
        <label for="procurar">Procurar</label>
        <input id="procurar" class="form-control" type="search" name="procurar" value="" placeholder="buscar por...">
      </div>
      <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    <br>

    <div class="table-responsive">
      <table class="table table-hover">
        <tr><th>Código</th><th>Nome</th><th>E-mail</th><th>Login</th><th>Ações</th></tr>
        <!-- <tr><td>001</td><td>Luciano</td><td>luciano@fatec.br</td><td>lucianofatec</td>
          <td>
            <a href="#" title="Ver registro"><i class="fa fa-search text-info"><span class="sr-only">Ver</span></i></a>
            <a href="#" title="Editar registro"><i class="fa fa-pencil text-warning"><span class="sr-only">Editar</span></i></a>
            <a href="#" title="Apagar registro"><i class="fa fa-trash-o text-danger"><span class="sr-only">Apagar</span></i></a>
          </td>
        </tr> -->
        <tr ng-repeat="product in listProducts"> <!--Para pegar de $scope.listProducts-->
          <td>{{product.codigo}}</td>
          <td>{{product.nome}}</td>
          <td>{{product.email}}</td>
          <td>{{product.login}}</td>
          <td>
            <!-- <a href="#" title="Ver registro"><i class="fa fa-search text-info"><span class="sr-only">Ver</span></i></a> -->
            <a href="#" ng-click="selectEdit(product.codigo)" title="Editar registro"><i class="fa fa-pencil text-warning">&nbsp;&nbsp;<span class="sr-only">Editar</span></i></a>
            <a href="#" ng-click="del(product.codigo)" title="Apagar registro"><i class="fa fa-trash-o text-danger"><span class="sr-only">Apagar</span></i></a>
          </td>
        </tr>


            </table>
          </div>
        </div><!--fim do toggle-->
          <br>
          <br>
          <br>

        </div>

</main>

<footer>
        <div class="text-right">
            <a href="https://github.com/samu101108/">By SB</a> &amp;
            <a href="https://github.com/LucianoNascimento">LN</a> |

            <a href="https://github.com/samu101108/MandaCRUDs">See project</a>
        </div>
    <br>
  </footer>
</div><!--  end container -->

<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Font Awesome -->
<script src="https://use.fontawesome.com/b5d24ce853.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript">
  var myapp = angular.module('myapp', []);
  myapp.controller('productController', function($scope){

//Lista de usuários
    $scope.listProducts = [
      {codigo:'001', nome:"Luciano", email: 'luciano@fatec.br',     login:'lucianofatec'},
      {codigo:'002', nome:'Hanter',  email: 'hanter@fatec.br',      login:'hanterfatec'},
  		{codigo:'003', nome:'Paulo',	 email: 'paulo@fatec.br',		    login:'paulofatec'},
  		{codigo:'004', nome:'Samuel',  email: 'samu101108@gmail.com', login: 'samu101108'}
    ];
//Adicionar registro à tabela
    $scope.add = function(){
      $scope.listProducts.push(
  {
    codigo:$scope.codigo, nome:$scope.nome, email:$scope.email, login:$scope.login
  });
    $scope.codigo = '';
    $scope.nome = '';
    $scope.email = '';
    $scope.login = '';
    };
//Editar linha de tabela
    $scope.selectEdit = function(codigo){
      var index = getSelectedIndex(codigo); <!--Essa linha pega a função definida abaixo-->
      var product = $scope.listProducts[index];
      $scope.codigo = product.codigo;
      $scope.nome = product.nome;
      $scope.email = product.email;
      $scope.login = product.login;
    };

//Deletar linha de tabela
    $scope.del = function(codigo){
      var result = confirm('Tem certeza?');
      if(result===true){
        var index = getSelectedIndex(codigo); <!--Essa linha pega a função definida abaixo-->
        $scope.listProducts.splice(index, 1);
      }
    };
    function getSelectedIndex(codigo){
      for(var i=0; i<$scope.listProducts.length; i++)
        if($scope.listProducts[i].codigo==codigo)
          return i;
      return -1;
    }
  });
</script>
</body>
</html>
